{% extends "home/base.html" %}
{% load static %}

{% block styles %}
{% endblock styles %}

{% block content %}

    <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0">
        
        {% include "home/navigation_bar.html" %}

        <!-- Map Start -->
        <div class="container-fluid py-5 wow fadeInUp"  
            style="background: url('https://images.unsplash.com/photo-1444212477490-ca407925329e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c3RyZWV0JTIwZG9nfGVufDB8fDB8fHww');
            background-size: cover;"
            data-wow-delay="0.1s">

        <div class="overlay"
            style="
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
            z-index: 1; /* Ensure the overlay sits on top of the background image */
            "
            id="my_overlay">
        </div> 
            
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-12" style="height: 600px;"> <!-- Set a fixed height for the map container -->
                        <div width: 100%; height: 100%; id="map" style="width: 100%; height: 100%;z-index: 1;"></div> <!-- Set the map container to fill its parent -->
                    </div>
                </div>
            </div>
    </div>
    <!-- Map End -->






    <!-- custom media query style -->
    <style>
        /* map */
        @media only screen and (max-width: 600px) {
            #map {
                margin-top: -76px; /* Adjust as needed */
            }
            
            #my_overlay{
                display: none;
            }
        } 
                
    </style>
    <!-- custom media query style -->
    

{% endblock content %}

{% block script %}
<!-- leaflet css -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
 <!-- Leaflet's javascript -->
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
 integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
 crossorigin=""></script>

<!-- leaflet fullscreem - css and js -->
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>

<!-- leaflet search- css and js -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<!-- Leaflet.Locate plugin cdn-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.css" />
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>


<script>
    // map initialization
    // var map = L.map('map').setView([9.621770, 76.530144], 15);
    // var map = L.map('map').setView([8.5241391, 76.9366376], 15);
    // var map = L.map('map').setView([8.4855, 76.9492], 15); // python

    
    {% comment %} var map = L.map('map', {fullscreenControl: true}).setView([{{lat}}, {{lng}}], 12); // python {% endcomment %}
    {% comment %} var map = L.map('map', {fullscreenControl: true}).setView([9.617436, 76.532735], 12); // python {% endcomment %}
    
    {% comment %} var map = L.map('map', {fullscreenControl: true}).setView([9.772655, 76.519711], 12); // python {% endcomment %}
    {% if request.user.is_authenticated %}
        var map = L.map('map', {fullscreenControl: true}).setView([{{request.user.latitude}}, {{request.user.longitude}}], 12); // python
    {% else %}
        {% comment %} var map = L.map('map', {fullscreenControl: true}).setView([9.772655, 76.519711], 12); // python {% endcomment %}
        var map = L.map('map', {fullscreenControl: true}).setView([{{lat}}, {{lng}}], 12); // python
    {% endif %}

    
    // osm layer
    var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);


    // custom image point icon
    var greenIcon = new L.Icon({
        {% comment %} iconUrl: '{% static "map_image/dogmarker.png" %}', {% endcomment %}
        {% comment %} iconUrl: '{% static "map_image/pink_dog.png" %}', {% endcomment %}
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]

        
      });

      {% comment %} var mymarker = L.marker([{{request.user.latitude}}, {{request.user.longitude}}], {icon: greenIcon}).addTo(map); {% endcomment %}


    //var mymarker = L.marker([9.772655, 76.519711], {icon: greenIcon}).addTo(map); //amal college location

    // dynamic map point adder to leaflet map
    {% for map in map_db  %}
    {% comment %} console.log('{{map.title}}') {% endcomment %}
        var mymarker = L.marker([{{map.latitude}}, {{map.longitude}}]).addTo(map);
        {% comment %} mymarker.bindPopup('{{map.title}} '+ mymarker.getLatLng()) {% endcomment %}
        mymarker.bindPopup(` <a href="https://www.tcsion.com/hub/national-qualifier-test/" style="text-decoration: none;">
            <div style="display: flex;justify-content: space-around;">
                <img alt="image" src="{{map.dog_pics_set.all.0.image.url}}" class="" style="width: 70px; height: 70px; border-radius: 50%;" data-toggle="tooltip" title="" data-original-title="Dog image">
                <div style="padding-left: 16px;color:black;">
                    <h5>{{map.place_name|truncatechars:16}}</h5>
                    <span>
                        {{map.description|truncatechars:32}}
                    </span>
                </div>
        
            </div>
        </a>`);
        
        var mymarker = L.circle(
            {% comment %} [{{lat}}, {{lng}}], {% endcomment %}
            [{{map.latitude}}, {{map.longitude}}],
            {
                //icon: greenIcon,
                color: '{{map.radius_color}}',
                fillColor: '{{map.radius_color_hexcode}}',
                fillOpacity: 0.3,
                radius: '{{map.km_distance}}'
                }
            ).addTo(map);
    {% endfor %}


     // creating user location control and add to map - start  ################################
     var lc = L.control
     .locate({
         position: "topleft",
         strings: {
             title: "Show me where I am, yo!"
         },
         locateOptions: {
             enableHighAccuracy: true
         },
         locateOptions: {
             maxZoom: 19
         }
 
     }).addTo(map);
 
    // request location update and set location
    {% if not request.user.is_authenticated %}
        lc.start(); // this will automatically set location
    {% endif %}
    // creating user location control and add to map - start  ################################


    // search to add Location pointer
    var geocoder = L.Control.geocoder({
        defaultMarkGeocode: false
        })
        .on('markgeocode', function(e) {
            // console.log(e)
            // console.log(e.geocode.center.lat)
            // console.log(e.geocode.center.lng)
            // console.log(e.geocode.name)
            lat = e.geocode.center.lat
            lng = e.geocode.center.lng
            location_name = e.geocode.name
            var search_marker = L.marker([lat, lng], {draggable:true}).addTo(map);
            search_marker.bindPopup(`${location_name} ${search_marker.getLatLng()}<br><a href="/user/add-dogspot/${lat}/${lng}" target="_blank" style="display:flex;justify-content:center;font-weight:bold;">Add Dogspot </a>`).openPopup();

            // ondrag marker pointer updater
            search_marker.on('drag', function(e) {
                // console.log('marker drag event : ', search_marker.getLatLng());
                lat = search_marker.getLatLng().lat
                lng = search_marker.getLatLng().lng
                // console.log(e.target._popup._content)
                console.log(search_marker)
                // search_marker.bindPopup(`<a href="add-spot/${lat}/${lng}" target="_blank">Add Dogspot </a>` + search_marker.getLatLng()).openPopup();
                search_marker.bindPopup(`${location_name} ${search_marker.getLatLng()}<br><a href="/user/add-dogspot/${lat}/${lng}" target="_blank" style="display:flex;justify-content:center;font-weight:bold;">Add Dogspot </a>`).openPopup();
            });


    }).addTo(map);


</script>

{% endblock script %}