{% extends 'accounts/base.html' %}
{% block title %}
- Forgot Password
{% endblock title %}

{% block content %}

 {% comment %} <div id="app"> {% endcomment %}
<section class="section">
    
    <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header" style="display: flex;justify-content: space-between;">
                <h4>Forgot Password</h4>
                <a href="{% url 'login' %}" style="text-decoration:none;">Back</a>
              </div>
              <div class="card-body">




                <form method="post" action="{% url 'forgot_password' %}" class="needs-validation" novalidate="" onsubmit="button_disabler()">
                    {% csrf_token %}

                    <p style="text-align:center;color: red;"> {{ error_msg }}  </p>


                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="email" class="form-control" name="email" tabindex="1" required="" autofocus="" placeholder="Enter your email" value="{{ static_mail }}">
                        <div class="invalid-feedback">
                            Please fill in your email
                        </div>
                    </div>
                   
                  {% comment %} <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                      <label class="custom-control-label" for="remember-me">Remember Me</label>
                    </div>
                  </div> {% endcomment %}

                  <div class="form-group">
                    <button type="submit" id="form_btn" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Send OTP
                    </button>
                  </div>
                </form>


                <div class="mt-5 text-muted text-center">
                    Have an account? <a href="{% url 'login' %}" style="text-decoration:none;">Login</a>
                    {% comment %} <a href="{% url 'signup' %}">Back</a> {% endcomment %}
                </div>

              </div>
            </div>
           
          </div>
        </div>
    </div>


</section>








{% endblock %}


{% block scripts %}


<!-- on form submit button disabler start -->
<script>
    
    function button_disabler(){

    var email = $('#email').val();
    var gmailRegex = /@gmail\.com$/; // Regex to match email ending with @gmail.com
        
        // In JavaScript, the test() method is used to search a string for a specified pattern (regular expression), -
        // and it returns true if the pattern is found, otherwise false.
        if (email != '' && gmailRegex.test(email)) {
            $("#form_btn").addClass("btn-progress disabled");
        }

    }
</script>
<!-- on form submit button disabler end -->

{% endblock %}

