{% extends 'accounts/base.html' %}
{% block title %}
- Password Reset Page
{% endblock title %}

{% block content %}

 {% comment %} <div id="app"> {% endcomment %}
<section class="section">
    
    <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header" style="display: flex;justify-content: space-between;">
                <h4>Please reset your password</h4>
                {% comment %} <a href="{% url 'home.index' %}" style="text-decoration:none;">Back</a> {% endcomment %}
              </div>
              <div class="card-body">




                <form method="post" action="" class="needs-validation" novalidate="" onsubmit="button_disabler()">
                    {% csrf_token %}

                    {% comment %} <p style="text-align:center">Please Reset Your password</p> {% endcomment %}
                    <p style="text-align:center;color: red"> {{ msg }}  </p>


                    <div class="form-group">
                        <label for="psd">Password</label>
                        <input id="psd" type="password" class="form-control" name="psd" tabindex="1" required="" autofocus="" placeholder="" value="{{psd}}">
                        <div class="invalid-feedback">
                            Please enter your password
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="confirm_psd">Confirm Password</label>
                       <input id="confirm_psd" type="password" class="form-control" name="confirm_psd" required=""  placeholder="" value="{{confirm_psd}}">
                        <div class="invalid-feedback">
                            Please enter your confirm password
                        </div>

                    </div>

                    
                    <div class="form-group">
                        <button type="submit" id="form_btn" class="btn btn-primary btn-lg btn-block" tabindex="4">
                            Submit
                        </button>
                    </div>

                </form>

              </div>
            </div>
           
          </div>
        </div>
    </div>


</section>








{% endblock %}


{% block scripts %}


<!-- on form submit button disabler start -->
<script>
    
    function button_disabler(){
        if ($('#psd').val() != '' && $('#confirm_psd').val() != '' ) {
            $("#form_btn").addClass("btn-progress disabled");
        }
    }
</script>
<!-- on form submit button disabler end -->

{% endblock %}

