{% extends 'accounts/base.html' %}
{% block title %}
- Login
{% endblock title %}

{% block content %}

 {% comment %} <div id="app"> {% endcomment %}
  <section class="section">
    
    <div class="container mt-3">
      
      <div class="row">
        {% comment %} <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"> {% endcomment %}
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
          <div class="card card-primary">
            <div class="card-header">
              <h4>Register</h4>

            {% comment %} {% if reg_success %}
           
              <div class="" style="color: green;">{{reg_success}}</div>

            {% endif %} {% endcomment %}

            </div>
            
            <div class="card-body">
              <!-- login form -->
              <form id="form" class="needs-validation" novalidate="">
                {% csrf_token %}

                {% comment %} <div class="form-group">
                  
                  <label for="email">Email  
                    {% if user_error %} <span style="color: red;"> : {{user_error}}</span>{% endif %}
                  </label>
                  <input id="email" type="email" class="form-control" name="email" value="{{static_mail}}" tabindex="1" required autofocus>
                  
                  <!-- {% if user_error %}
                  
                  <div class="invalid-feedback">
                    {{user_error}}
                  </div>
                
                  {% endif %} -->

                  <div class="invalid-feedback">
                    Please fill in your email
                  </div>
                </div> {% endcomment %}

                <div class="form-group">
                  
                  <label for="first_name">
                    First Name
                    {% comment %} {% if user_error %} <span style="color: red;"> : {{user_error}}</span>{% endif %} {% endcomment %}
                  </label>
                  <input id="first_name" type="text" class="form-control" name="first_name" value="" tabindex="1" required>
                  
                  <!-- {% if user_error %}
                  
                  <div class="invalid-feedback">
                    {{user_error}}
                  </div>
                
                  {% endif %} -->

                  <div class="invalid-feedback">
                    Please enter your first name
                  </div>
                </div>

                <div class="form-group">
                  
                  <label for="last_name">
                    Last Name
                    {% comment %} {% if user_error %} <span style="color: red;"> : {{user_error}}</span>{% endif %} {% endcomment %}
                  </label>
                  <input id="last_name" type="text" class="form-control" name="last_name" value="" tabindex="1" required>
                  
                  <!-- {% if user_error %}
                  
                  <div class="invalid-feedback">
                    {{user_error}}
                  </div>
                
                  {% endif %} -->

                  <div class="invalid-feedback">
                    Please enter your last name
                  </div>
                </div>

                

                <div class="form-group">
                  <label>Add Your Location</label>
                  <div class="input-group">
                    <input id="latitude" readonly type="text" class="form-control" name="latitude" required> &nbsp;
                    <input id="longitude" readonly  type="text" class="form-control" name="longitude" required> &nbsp;
                
                   {% comment %} <a href="javascript:;" class="btn btn-primary daterange-btn icon-left btn-icon" data-toggle="modal" data-target="#location_picker_model">
                      <i class="fas fa-map-marker-alt"></i> 
                      Choose Location
                    </a>  {% endcomment %}

                    <a href="javascript:;" class="btn btn-primary daterange-btn icon-left btn-icon" id="choose_location">
                      <i class="fas fa-map-marker-alt"></i> 
                      <span id="choose_location_span">Choose Location</span>
                    </a>
                    
                    
                    <div id="map"></div>


                    <div class="invalid-feedback" id="lat_lng_error">
                      Please choose your location
                    </div>

                  </div>
                </div>

                

               

                <div class="form-group">
                  <label for="state">
                    State
                    {% comment %} {% if user_error %} <span style="color: red;"> : {{user_error}}</span>{% endif %} {% endcomment %}
                  </label>
                  <select class="form-control" required name="state" id="state">
                    <option value="" disabled>Select State</option>
                    <option value="kerala" selected>Kerala</option>
                  </select>

                  <div class="invalid-feedback">
                    Please enter your state
                  </div>

                </div>


                <div class="form-group">
                  <label for="latitude">
                    District
                    {% comment %} {% if user_error %} <span style="color: red;"> : {{user_error}}</span>{% endif %} {% endcomment %}
                  </label>
                  <select class="form-control" required name="district" id="district">
                    <option value="" disabled selected>Select District</option>
                    <option value="thiruvananthapuram">Thiruvananthapuram</option>
                    <option value="kollam">Kollam</option>
                    <option value="pathanamthitta">Pathanamthitta</option>
                    <option value="alappuzha">Alappuzha</option>
                    <option value="kottayam">Kottayam</option>
                    <option value="idukki">Idukki</option>
                    <option value="ernakulam">Ernakulam</option>
                    <option value="thrissur">Thrissur</option>
                    <option value="palakkad">Palakkad</option>
                    <option value="malappuram">Malappuram</option>
                    <option value="kozhikode">Kozhikode</option>
                    <option value="wayanad">Wayanad</option>
                    <option value="kannur">Kannur</option>
                    <option value="kasaragod">Kasaragod</option>
                  </select>

                  <div class="invalid-feedback">
                    Please enter your district
                  </div>

                </div>

                <div class="form-group">
                  
                  <label for="place">
                    Place
                    {% comment %} {% if user_error %} <span style="color: red;"> : {{user_error}}</span>{% endif %} {% endcomment %}
                  </label>
                  <input id="place" type="text" class="form-control" name="place" required>
                  
                  <div class="invalid-feedback">
                    Please enter your place
                  </div>

                </div>

                <div class="form-group">
                  
                  <label for="psd">
                    Password
                    {% comment %} {% if user_error %} <span style="color: red;"> : {{user_error}}</span>{% endif %} {% endcomment %}
                  </label>
                  <input id="psd" type="password" class="form-control" name="psd" required>
                  
                  <div class="invalid-feedback" id="password_error">
                  </div>

                </div>


                <div class="form-group">
                  
                  <label for="confirm_psd">
                    Confirm Password
                    {% comment %} {% if user_error %} <span style="color: red;"> : {{user_error}}</span>{% endif %} {% endcomment %}
                  </label>
                  <input id="confirm_psd" type="password" class="form-control" name="confirm_psd" required>
                
                </div>

                

                {% comment %} <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                    <label class="custom-control-label" for="remember-me">Remember Me</label>
                  </div>
                </div> {% endcomment %}

                <div class="form-group">
                  <button type="submit" id="submit_btn" class="btn btn-primary btn-lg btn-block" tabindex="4">
                    Submit
                  </button>
                  <a href="{% url "home.index" %}" class="btn btn-light btn-lg btn-block">Back</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>


  <!-- location_picker_model start -->
  <div class="modal fade" id="location_picker_model" tabindex="-1" role="dialog"
          aria-labelledby="location_picker_model_title" aria-hidden="true">
          
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

            <div class="modal-content">
              
              <div class="modal-header">
                <h5 class="modal-title" id="location_picker_model_title">Choose Your Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                
              </div>

              <div class="modal-body">

                {% comment %} <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.7806761080233!2d-93.29138368446431!3d44.96844997909819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32b6ee2c87c91%3A0xc20dff2748d2bd92!2sWalker+Art+Center!5e0!3m2!1sen!2sus!4v1514524647889" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> {% endcomment %}
                {% comment %} <div  id="map"></div> <!-- Set the map container to fill its parent --> {% endcomment %}
                <iframe src="{% url 'home.map' %}" width="100%" height="500" frameborder="0"></iframe>

              </div>

              <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
  </div>
  <!-- location_picker_model end -->








  <!-- map styles -->
  <style>
    #map { height: 500px; width:100%; margin-top: 10px;}
  </style>  


{% endblock %}


{% block scripts %}



 <!-- leaflet css -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
  
 <!-- Leaflet's javascript -->
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
 integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
 crossorigin=""></script>

  <!-- leaflet fullscreem - css and js -->
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>

  <!-- leaflet search- css and js -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

  <!-- Leaflet.Locate plugin cdn-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>


<script>
  $('#map').show();

  // Delay for 10 seconds and then hide the map
  setTimeout(function() {
    $('#map').hide();
  }, 100); // 10000 milliseconds = 10 seconds
  
  
  $("#choose_location").click(function(){
    $('#map').toggle();

  });


</script>
  
<script>
  var map = L.map('map', {fullscreenControl: true}).setView([9.772655, 76.519711], 12);
  // osm layer
  var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  {% comment %} var mymarker = L.marker([9.772655, 76.519711]).addTo(map); //amal college location {% endcomment %}

  // creating user location control and add to map - start  ################################
  var lc = L.control
  .locate({
      position: "topleft",
      strings: {
          title: "Show me where I am, yo!"
      },
      locateOptions: {
          enableHighAccuracy: true
      },
      locateOptions: {
          maxZoom: 19
      }

  }).addTo(map);

  // request location update and set location
  lc.start(); // this will automatically set location
 // creating user location control and add to map - start  ################################


  function location_adder(lat, long) {
    console.log(lat, '|', long, 'testing...........');
    $('#latitude').val(lat);
    $('#longitude').val(long);
    $("#map").hide();
    $("#choose_location_span").html('Change Location');

    $('#latitude').removeClass('is-invalid');
    $('#longitude').removeClass('is-invalid');
  }

 // search to add Location pointer
  var geocoder = L.Control.geocoder({
    defaultMarkGeocode: false
    })
    .on('markgeocode', function(e) {
        // console.log(e)
        // console.log(e.geocode.center.lat)
        // console.log(e.geocode.center.lng)
        // console.log(e.geocode.name)
        lat = e.geocode.center.lat
        lng = e.geocode.center.lng
        location_name = e.geocode.name
        var search_marker = L.marker([lat, lng], {draggable:true}).addTo(map);
        {% comment %} search_marker.bindPopup(`${location_name} ${search_marker.getLatLng()}<br><a href="/user/add-dogspot/${lat}/${lng}" target="_blank" style="display:flex;justify-content:center;font-weight:bold;">Add Dogspot </a>`).openPopup(); {% endcomment %}
        
        search_marker.bindPopup(`
          ${search_marker.getLatLng()} 
          <div style="text-align: center;">
              <a href="#" onclick="event.preventDefault(); location_adder(${lat}, ${lng});" class="btn btn-primary" style="font-weight: bold; width: 50%;margin-top:10px;">Add</a>
          </div>
        `).openPopup();

        // ondrag marker pointer updater
        search_marker.on('drag', function(e) {
            // console.log('marker drag event : ', search_marker.getLatLng());
            lat = search_marker.getLatLng().lat
            lng = search_marker.getLatLng().lng
            // console.log(e.target._popup._content)
            {% comment %} console.log(search_marker) {% endcomment %}
            // search_marker.bindPopup(`<a href="add-spot/${lat}/${lng}" target="_blank">Add Dogspot </a>` + search_marker.getLatLng()).openPopup();
            {% comment %} search_marker.bindPopup(`${location_name} ${search_marker.getLatLng()}<br><a href="/user/add-dogspot/${lat}/${lng}" target="_blank" style="display:flex;justify-content:center;font-weight:bold;">Add Dogspot </a>`).openPopup(); {% endcomment %}

            search_marker.bindPopup(`
              ${search_marker.getLatLng()} 
              <div style="text-align: center;">
                  <a href="#" onclick="event.preventDefault(); location_adder(${lat}, ${lng});" class="btn btn-primary" style="font-weight: bold; width: 50%;margin-top:10px;">Add</a>
              </div>
            `).openPopup();
          
        }); // drag end


  }).addTo(map);



  

  // adding custom-marker points with on click event
  map.on('click', function(e) {
      var marker = new L.marker(e.latlng, { draggable: true }).addTo(map);
      lat = e.latlng.lat;
      lng = e.latlng.lng;

      {% comment %} location_adder(lat, lng); {% endcomment %}

      marker.bindPopup(`
          ${marker.getLatLng()} 
          <div style="text-align: center;">
              <a href="#" onclick="event.preventDefault(); location_adder(${lat}, ${lng});" class="btn btn-primary" style="font-weight: bold; width: 50%;margin-top:10px;">Add</a>
          </div>
      `).openPopup();

      marker.on('drag', function(e) {
          lat = marker.getLatLng().lat;
          lng = marker.getLatLng().lng;

          {% comment %} location_adder(lat, lng); {% endcomment %}

          marker.bindPopup(`
              ${marker.getLatLng()} 
              <div style="text-align: center;">
                  <a href="#" onclick="event.preventDefault(); location_adder(${lat}, ${lng});" class="btn btn-primary" style="font-weight: bold; width: 50%;margin-top:10px;">Add</a>
              </div>
          `).openPopup();
      });
  });


  
</script>


{% comment %} sweet alert2 cdn {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.14/dist/sweetalert2.all.min.js"></script>


<script>

  // ajax form submission area
  var formData = new FormData();
  $('#form').submit(function(e){
      e.preventDefault();

      // normal input elements data 
      formData.append('first_name', $('#first_name').val());
      formData.append('last_name', $('#last_name').val());
      formData.append('latitude', $('#latitude').val());
      formData.append('longitude', $('#longitude').val());
      formData.append('state', $('#state').val());
      formData.append('district', $('#district').val());
      formData.append('place', $('#place').val());
      formData.append('psd', $('#psd').val());
      

      // for django csrf_token setup
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

      // console.log(formData);


      

      if ($('#latitude').val() == '' && $('#longitude').val() == '') {
        $('#latitude').addClass('is-invalid');
        $('#longitude').addClass('is-invalid');

      }
      else if ($('#psd').val() == '' && $('#confirm_psd').val() == '') {
        $('#psd').addClass('is-invalid');
        $('#confirm_psd').addClass('is-invalid');
        $('#password_error').html('Please enter a valid password');
      }

      else if ($('#psd').val() !== $('#confirm_psd').val()) {
        $('#psd').addClass('is-invalid');
        $('#confirm_psd').addClass('is-invalid');
        $('#password_error').html('Passwords do not match');
      } 
      else if ($('#psd').val().length < 6) {
            $('#psd').addClass('is-invalid');
            $('#password_error').html('At least 6 characters required');
        }

      else{

        // ajax form submission area
          $.ajax({
              type:'POST',
              url: '{% url 'registration_password_setter' %}',
              data:formData,
              cache:false,
              processData:false,
              contentType:false,
              {% comment %} enctype: 'multipart/form-data', {% endcomment %}

              beforeSend: function(){
                $("#submit_btn").addClass("btn-progress disabled"); // adding button progress and disabled
              },

              success: function(data) {

              // when error message occcured
              if (data.error_msg){
                
                Swal.fire({
                  icon: 'error',
                    title: 'Oops...',
                    showConfirmButton: true,
                    confirmButtonText: `
                    <a href="{% url "signup" %}" style="color:white;text-decoration:none;">Try again</a>
                    `,
                    text: ' Somthing went wrong ',
                    {% comment %} footer: '' {% endcomment %}
                })
                
                  $("#submit_btn").removeClass("btn-progress disabled"); // removing button progress and disabled

              }
              else{

                  // alert('the form send successfully');
                  // console.log(formData);

                  $('#form')[0].reset(); // resetting all form elements, but filepond object will not affect form reset method

                  
                  $("#submit_btn").removeClass("btn-progress disabled"); // removing button progress and disabled

                  // sweet alert2 
                  Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: ' Your account has been successfully created ',
                    showConfirmButton: false,
                    //footer: '<a href="{% url 'user.static_dogspot_marker_map' %}">Add New Point</a>'
                  })
                  
                  // when form is success then redirect to login view in after 1-seconds
                  setTimeout(
                      function(){
                        // Save a cookie
                          //document.cookie = 'email=' + data.email;

                          // Remove email from localStorage
                          localStorage.removeItem('email');

                          // Save email to localStorage
                          localStorage.setItem('email', data.email);

                          // redirecting to login view
                          window.location.href = '{% url 'login' %}' 
                          //alert('hai');
                  }, 2000);

              }
                  
              },
              error: function() {
                  console.log(xhr.status + ':' + xhr.responseText );
              }
          })// ajax end

        }// else end
        
  }) // form submit end





  $('#psd, #confirm_psd, #latitude').keypress(function() {
    $('#psd').removeClass('is-invalid');
    $('#confirm_psd').removeClass('is-invalid');
    $('#latitude').removeClass('is-invalid');
  });

  {% comment %} $('#latitude, #longitude').keypress(function() {
    alert('testing...........')
    $('#latitude').removeClass('is-invalid');
    $('#longitude').removeClass('is-invalid');
}); {% endcomment %}




</script>

<!-- password reset sucessfully message -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  {% if messages %}

  {% for message in messages %}

  swal("Password Changed!", "{{message}}", "success");

  {%  endfor %}

  {% endif %}
</script>
<!-- password reset sucessfully message -->

{% endblock %}

