{% extends 'base.html' %}

{% load static %}

{% block title %}
User Dashboard
{% endblock %}

{% block sidebar %}
{% include 'user/sidebar.html' %}
{% endblock %}


{% block content %}

<section class="section" id="map" style="height: 90vh;width:100%;
margin-top: -50px;">
<!-- margin-top: -54px;margin-left: -23px; margin-right: 23px;"> -->
    
    <!-- <div class="row">
        <div id="map" style="height: 100vh;width:100%">asgd</div>
    </div> -->

</section>

{% endblock %}


{% block scripts %}

<!-- leaflet fullscreem - css and js -->
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>

<!-- leaflet search- css and js -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<!-- Leaflet.Locate plugin cdn-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.css" />
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>


<script>
    // map initialization
    // var map = L.map('map').setView([9.621770, 76.530144], 15);
    // var map = L.map('map').setView([8.5241391, 76.9366376], 15);
    // var map = L.map('map').setView([8.4855, 76.9492], 15); // python

    
    {% comment %} var map = L.map('map', {fullscreenControl: true}).setView([{{lat}}, {{lng}}], 12); // python {% endcomment %}
    {% comment %} var map = L.map('map', {fullscreenControl: true}).setView([9.617436, 76.532735], 12); // python {% endcomment %}
    var map = L.map('map', {fullscreenControl: true}).setView([9.772655, 76.519711], 12); // python

    
    // osm layer
    var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    
    // searchLocation = L.Control.geocoder().addTo(map);
    // map.on('click', function(e) {
    //    console.log(e)
    // })

    // custom image point icon
    var greenIcon = new L.Icon({
        {% comment %} iconUrl: '{% static "map_image/dogmarker.png" %}', {% endcomment %}
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]

        
      });
      
      {% comment %} L.marker([51.5, -0.09], {icon: greenIcon}).addTo(map); {% endcomment %}


      // creating user location control and add to map - start  ################################
    var lc = L.control
    .locate({
        position: "topleft",
        strings: {
            title: "Show me where I am, yo!"
        },
        locateOptions: {
            enableHighAccuracy: true
        },
        locateOptions: {
            maxZoom: 19
        }

    }).addTo(map);

    // request location update and set location
    lc.start(); // this will 

    function onLocationFound(e) {
        var radius = e.accuracy;

        {% comment %} L.marker(e.latlng).addTo(map)
            .bindPopup("You are within " + radius + " meters from this point").openPopup(); {% endcomment %}

        {% comment %} L.circle(e.latlng, radius).addTo(map); {% endcomment %}
        console.log(e.latlng.lat, 'terrereere')
        console.log(e.latlng.lng, 'terrereere')
    }

    map.on('locationfound', onLocationFound); // calling the function "onLocationFound"


    // function onLocationError(e) {
    //     alert(e.message);
    // }

    // map.on('locationerror', onLocationError); // calling the function "onLocationError"
    // creating user location control and add to map - end ################################
    
    // search to add Location pointer
    var geocoder = L.Control.geocoder({
        defaultMarkGeocode: false
        })
        .on('markgeocode', function(e) {
            // console.log(e)
            // console.log(e.geocode.center.lat)
            // console.log(e.geocode.center.lng)
            // console.log(e.geocode.name)
            lat = e.geocode.center.lat
            lng = e.geocode.center.lng
            location_name = e.geocode.name
            var search_marker = L.marker([lat, lng], {draggable:true}).addTo(map);
            search_marker.bindPopup(`${location_name} ${search_marker.getLatLng()}<br><a href="/user/add-dogspot/${lat}/${lng}" target="_blank" style="display:flex;justify-content:center;font-weight:bold;">Add Dogspot </a>`).openPopup();

            // ondrag marker pointer updater
            search_marker.on('drag', function(e) {
                // console.log('marker drag event : ', search_marker.getLatLng());
                lat = search_marker.getLatLng().lat
                lng = search_marker.getLatLng().lng
                // console.log(e.target._popup._content)
                console.log(search_marker)
                // search_marker.bindPopup(`<a href="add-spot/${lat}/${lng}" target="_blank">Add Dogspot </a>` + search_marker.getLatLng()).openPopup();
                search_marker.bindPopup(`${location_name} ${search_marker.getLatLng()}<br><a href="/user/add-dogspot/${lat}/${lng}" target="_blank" style="display:flex;justify-content:center;font-weight:bold;">Add Dogspot </a>`).openPopup();
            });


    }).addTo(map);

    
    
    // adding marker points
    // var mymarker = L.marker([8.5241391, 76.9366376]).addTo(map);
    {% comment %} var mymarker = L.marker([{{lat}}, {{lng}}]).addTo(map); {% endcomment %}
    {% comment %} var mymarker = L.marker([9.617436, 76.532735]).addTo(map); {% endcomment %}
    // var mymarker = L.marker([9.772655, 76.519711]).addTo(map);
    
    // console.log(mymarker)
    // mymarker.bindPopup('Normal Marker '+ mymarker.getLatLng())


    // var mymarker = L.circle(
    //     {% comment %} [{{lat}}, {{lng}}], {% endcomment %}
    //     {% comment %} [9.617436, 76.532735], {% endcomment %}
    //     [9.772655, 76.519711],
    //     {
    //         //icon: greenIcon,
    //         color: '#CAC428',
    //         fillColor: '#CAC428',
    //         fillOpacity: 0.3,
    //         radius: 500
    //     }
    // ).addTo(map);


    // dynamic map point adder to leaflet map
    {% for map in map_db  %}
    {% comment %} console.log('{{map.title}}') {% endcomment %}
        var mymarker = L.marker([{{map.latitude}}, {{map.longitude}}]).addTo(map);
        {% comment %} mymarker.bindPopup('{{map.title}} '+ mymarker.getLatLng()) {% endcomment %}
        mymarker.bindPopup(` <a href="https://www.tcsion.com/hub/national-qualifier-test/" style="text-decoration: none;">
            <div style="display: flex;justify-content: space-around;">
                <img alt="image" src="{{map.dog_pics_set.all.0.image.url}}" class="" style="width: 70px; height: 70px; border-radius: 50%;" data-toggle="tooltip" title="" data-original-title="Dog image">
                <div style="padding-left: 16px;color:black;">
                    <h5>{{map.place_name|truncatechars:16}}</h5>
                    <span>
                        {{map.description|truncatechars:32}}
                    </span>
                </div>
        
            </div>
        </a>`);
        
        var mymarker = L.circle(
            {% comment %} [{{lat}}, {{lng}}], {% endcomment %}
            [{{map.latitude}}, {{map.longitude}}],
            {
                //icon: greenIcon,
                color: '{{map.radius_color}}',
                fillColor: '{{map.radius_color_hexcode}}',
                fillOpacity: 0.3,
                radius: '{{map.km_distance}}'
                }
            ).addTo(map);
    {% endfor %}




  

    {% comment %} // adding custom-marker points with on click event
    map.on('click', function(e){
        var marker = new L.marker(e.latlng, {draggable: true}).addTo(map);
        lat = e.latlng.lat
        lng = e.latlng.lng
        console.log(marker.getLatLng().lat, 'aaaaaaaaaaaaa')
        // marker.bindPopup(`<a href="add/${lat}/${lng}">Add Dogspot</a> ` + marker.getLatLng())
        marker.bindPopup(`${marker.getLatLng()} <a href="/user/add-dogspot/${lat}/${lng}" target="_blank" style="display:flex;justify-content:center;font-weight:bold;">Add Dogspot </a>`).openPopup();
        // alert(e.latlng)
        // console.log(e.latlng)

        marker.on('drag', function(e) {
            // console.log('marker drag event : ', marker.getLatLng());
            lat = marker.getLatLng().lat
            lng = marker.getLatLng().lng
            marker.bindPopup(`${marker.getLatLng()} <a href="/user/add-dogspot/${lat}/${lng}" target="_blank" style="display:flex;justify-content:center;font-weight:bold;">Add Dogspot </a>`).openPopup()
        });
    }); {% endcomment %}

</script>

{% endblock %}

